<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> 
        <link href="{{url_for('static',filename='signin.css')}}" rel="stylesheet" type="text/css">

    </head>
    <body style="background-color: black;">
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">PrimeVideo</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  href="/home" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">All</a></li>
                        <li><a class="dropdown-item" href="#">Movies</a></li>
                        <li><a class="dropdown-item" href="#">Tv Show</a></li>
                        
                      </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown"  aria-expanded="false">Store</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">All</a></li>
                        <li><a class="dropdown-item" href="#">Store</a></li>
                        <li><a class="dropdown-item" href="#">Rent Channel</a></li>
                        
                      </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Live Tv</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/signin">SignIn</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/signup">SignUp</a>
                  </li>
                  
                </ul>
          
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button></center>
                    </form>
              </div>
            </div>
          </nav>
        <!---------------------------------------------------------------------------------------------------------------------->
        <center><h1>SIGN UP FORM</h1></center>
        <form action="/signup" method="post">
        <center><table class="a">
            <tr>
                <td>
                    Email
                </td>
                <td>
                    <input type="email" name="email">
                </td>
            </tr>
        
            <tr>
            <td>
                Password
            </td>
            <td>
                <input type="password" name="password">
            </td>
            </tr>
            <br/>
            
           
            <tr>
                <td>

                </td>
                <td>
                    <input type="submit" value="Submit">
                 </td>
            </tr>
            
          
        </table></center>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></form>
        <!--------------------------------------------------------------------------------------------------------------------->
        <section class="vv">
            <center><img src="{{url_for('static',filename='Prime-Video-logo-1300x731.webp')}}"  height="100vh" width="28%"></center>
            <p><center>Terms and privacy Notice     Send us Feedback       Help    (c) 1996-2024,Amazon.com,Inc. or its affilates.</p></cenetr>
          </section>
          
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    </body>
</html>